{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/foto.jpeg" %}" alt="Gustavo - The Author of This Blog"/>
            <h2>GUSTAVO'S BLOG</h2>
        </header>
        <p>Hi, I am Gustavo. I'd like to blog about what I am studing!</p>
    </section>

    <section id="lastest-post">
        <h2>My Lastest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I like programming, I like playing video games and exploring new technologies</p>
        <p>My goal is to continue growing as I develop</p>
    </section>
{% endblock %}
