{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpeg" %}" alt="Mountain Hiking"/>
            <div class="post_content">
                <h3>
                    Mountain Hiking
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua.
                </p>
            </div>
        </a>
    </article>
</li>
